body {background-color: #000000;
margin: 0;
font-family: "Montserrat", "Avenir";}

h1 {color: white;
font-weight: normal;
text-transform: uppercase;
line-height: 1.1;
padding: 20px 0px;
background-color: steelblue;
text-align: center;
margin: 0;
}

#display {
	font-size: 200%;
}

.square {width: 30%;
   background: purple;
   padding-bottom: 30%;
   border-radius: 50%;
   float: left;
margin: 1.66%;
transition: background-color 1.0s;
-webkit-transition: background-color 1.0s;
-moz-transition: background-color 1.0s; 
}

#container {max-width: 600px;
margin: 20px auto;}

#stripe {background-color: white;
height: 30px;
text-align: center;
color: black;
}

.selected {color: white;
background-color: steelblue;
}

button {border: none;
background: none;
font-family: "Montserrat", "Avenir";
font-size: inherit;
height: 100%;
text-transform: uppercase;
font-weight: 750px;
color: steelblue;
letter-spacing: 1px;
transition: all 1.0s;
-webkit-transition: background-color 1.0s;
-moz-transition: background-color 1.0s; 
}

button:hover {color: white;
background-color: steelblue;
}

#message {display: inline-block;
width: 20%;}